<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exercise 4</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Tiny5&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../public/css/nommalization.css">
    <link rel="stylesheet" href="../public/css/style.css">
</head>
<body>
    <main>
        <section>
            <div class="container">
                <div class="grid">
                    <div class="text"><p>A GENIUS HACKER</p></div>
                    <div class="text"><p>SEARCHING FOR</p></div>
                    <div class="text"><p>A CUTIE GIRL</p></div>
                    <div class="text secondary">
                        <div><p>SILVER</p></div>
                        <div>
                            <span>WOLF</span>
                            <span>ARE</span>
                            <span>VERY CUTE</span>
                        </div>
                    </div>
                    <div class="text"><p>IN A DARK ROOM</p></div>
                    <div class="text"><p>AETHER EDITING</p></div>
                    <div class="text"><p>IS LIKE</p><span></span></div>
                    <div class="bg character"><img src="../public/assets/image/silver_wolf_BW.png" alt="silver wolf"></div>
                </div>
            </div>
        </section>
    </main>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="../public/js/main.js"></script>
</body>
</html>